/* CSS Document */
/* 
    Created on : 7-Sep-2014, 4:50:25 PM
    Author     : JTran07 & PaperSpeaker
Edited: Sept 29 by Jimmy
*/

html, body {
	height: 100%;
	margin: 0;
	background-image: url("images/background.jpg");
        color: #225578;
}

a:link{
    color:#dbdbd9;
    font-size: 20px;
 
}

a:visited {
    color:#869fbe;
}

a:hover{
    color:#225578;
}
#header {
    padding-left: 50px;
    border: 1px solid #999;
    clear:both;
}

.menu{
    clear:both;
    float:right;
    margin-top: -80px;
    padding-right: 20px;
}

ul.menu li{
    display: inline;
}

#container {
    margin: 30px;
    border: 1px solid red;
    
}

#sidenav {
    border-right: 1px solid #008;
   margin-right: 83%;
   clear:both;
   margin-top:50px;

}

#sidenav ul{
    list-style-type: none;
    clear:both;

}


#calender {
    float:right;
    margin-top: -19%;
    padding-right: 20px;
    
}

content {
    clear:both;
    
}

p {
    clear:both;
    padding-left:5px;
}

/*
gallery aka the top large image all this stuff determines size
*/
#banner {
        clear:both;
	width: 800px;
	height: 334px;
	overflow: hidden;
	padding: 0;
	border: 1px solid black;
        margin-left: 23%;
        margin-top: -15%;
}

#bannerthumbs {
	margin-left: 37%;
	padding: 0;
   
}
/*
determines spacing between each thumb
*/
#bannerthumbs li {
	float: left;
	list-style:none;
	padding-right: 31px;
}


aside.facebook {

	margin-left: -260px;  /* position it off stage */
}
 
aside.facebook a {
	display: block;
	width: 260px;
/*	background-color: rgba(153, 153, 153, 0.7);*/
        background-color: #202120;
	padding: 15px;
	height: 30px;
	border:1px solid #666;
	border-radius: 10px;
	font: bold 18px Verdana, Geneva, sans-serif;
	text-decoration: none;
	color: #225578;
	transition: all 0.5s ease;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	
}

aside.facebook a:hover {
	transform: translate(220px);
	-webkit-transform: translate(220px);
	-moz-transform: translate(220px);
}

aside.instagram {

	margin-left: -265px;  /* position it off stage */
}

aside.instagram a {
	display: block;
	width: 265px;
/*	background-color: rgba(153, 153, 153, 0.7);*/
        background-color: #202120;
	padding: 15px;
	height: 30px;
	border:1px solid #666;
	border-radius: 10px;
	font: bold 18px Verdana, Geneva, sans-serif;
	text-decoration: none;
	color: #225578;
	transition: all 0.5s ease;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	
}

aside.instagram a:hover {
	transform: translate(225px);
	-webkit-transform: translate(225px);
	-moz-transform: translate(225px);
}

aside img{
	vertical-align: middle;  /* align text to middle of the image */
}

#footer{
    margin-top: 100px;
    border-top: solid black 1px;
    padding-left: 5px;
    padding-right: 5px;
    
}
